<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>

    <link rel="stylesheet" href="~/Content/styling/ToDoStyles.css" />
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
